div {
  width: 100px;
  height: 100px;
  border: solid;

  margin-left: 100px;
}

#box {
  background-color: peachpuff;

  position: relative;
  top: 50px;
  /* bottom: 50px; */
  left: 50px;
  /* right: 50px; */
}
